<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploads</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="profileImage"/>
        <iframe src="/uploads/pdf/your-file.pdf" width="100%" height="600px"></iframe>
        <iframe src="/path/to/your/pdf/file.pdf" width="100%" height="600px"></iframe>

        <button type="submit">submit</button>
    </form>
</body>
</html>